mat-dialog-content {
  min-width: 400px;
  padding-top: 15px;
}
form {
  margin-top: 8px;
}
.full-width {
  width: 100%;
  margin-bottom: 16px;
}

mat-dialog-actions {
  padding: 16px 24px;
}

// Dark Mode
:host-context(.dark-theme) mat-dialog-content {
  color: rgba(255, 255, 255, 0.87);
}
